/* I've gotten you started to show how each element lives in a box! */
* {
                          /* Content is the stuff IN the element */
  padding: 10px;          /* Padding is white space AROUND content */
  border: red 2px solid;  /* Border is the OUTLINE of the element */
  margin: 5px;            /* Margin is the space BETWEEN elements */
}

/* When you're ready to write your CSS, Erase the above code! */
