body {
  margin: 2%;
	font-family: georgia;
	font-size: 12px;
	background-color: lightgrey;
}

header {
      text-align: center;
}

h1{
  text-align: center;
  font-size: 32px;
  font-family: georgia;
  color: goldenrod;
}

table, th, td {
      border: 1px solid black;
}
td {
  vertical-align: bottom;
  color: purple;
  padding:5px;
}
th{
  color: goldenrod;
}

.section {
      width:50%;
      display: inline-block;
      vertical-align: top;
      align-self: center;
      padding: 10px;
      font-size: 16px;
}

#prof-img {
      width: 90%;
      border-color: goldenrod;
      border-style: groove;
      border-width: thin;
}

#nav {
  display:inline-block;
  vertical-align: top;
  width: 20%;
  padding: 10px;
  font-family:georgia;
	font-size:12px;
	cursor:default;
  color:purple;
}

a {
	color: purple;
	text-decoration:none;
	font-size:16px
}

a:hover {
	color:3A88C2;
	text-decoration:underline;
}
